@import url('Base.css');

.about-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
}

.profile {
  margin: 0 64px;
  display: flex;
  flex-direction: column;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 15rem;
  height: 15rem;
  background-color: black;
  border-radius: 50%;
}

.profile-name {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.05;
  margin-bottom: 24px;
  text-align: center;
  color: var(--accent-variation)
}

.profile-description {
  font-size: 1.5rem;
  line-height: 1.15;
  text-align: center;
  height: 8rem;
}

.profile-links {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

.profile-link {
  margin: 8px;
  font-size: 2rem;
  color: var(--accent);
  line-height: 1;
  transition: .2s;
}

@media only screen and (max-width: 768px) {

  .profile-header {
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-bottom: 12px;
  }

  .profile-image {
    width: 5rem;
    height: 5rem;
    margin-right: 16px;
  }
  
  .profile-name {
    font-size: 2.4rem;
    margin-left: 16px;
    margin-bottom: 16px;
  }

  .about-container {
    margin-top: 3rem;
    flex-direction: column;
    height: auto;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .profile {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .profile-description {
    font-size: 1.1rem;
    height: auto;
    margin-bottom: 2px;
  }
}