@import url('Base.css');

.game-card-container {
    display: inline-flex;
    padding: 16px;
    width: 50%;
    height: 15rem;
    justify-content: center;
}

.game-card {
    display: flex;
    width: 88%;
    background-color: var(--alt4);
    border-radius: 6px;
    padding: 6px 6px 6px 6px;
    line-height: 1;
}

.game-card-img {
    height: 196px;
    width: 256px;
    margin-right: 1rem;
    border-radius: 6px 0 0 6px;
}

.game-card-text {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.game-card-top {
    color: var(--accent-variation);
    display: flex;
    flex-direction: row;
    margin-top: 6px;
}

.game-card-title {
    font-size: 1.5rem;
    font-weight: 800;
}

.game-card-short-description {
    font-size: .85rem;
    font-weight: 400;
}

.game-card-description {
    margin-top: .5rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.badges {
    display: flex;
    margin-left: auto;
}

.badge {
    margin-right: 6px;
    font-size: 1.8rem;
    color: var(--accent);
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.card-button {
    background-color: var(--dark);
    margin: 4px;
    padding: 6px;
    width: 33%;
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: var(--light);
    border-radius: 4px;
}

.card-button:hover {
    background-color: var(--alt3);
}

.card-button-cta {
    background-color: var(--accent-dark);
    color: var(--light)
}

.card-button-cta:hover {
    background-color: var(--accent);
}

@media only screen and (max-width: 768px) {
    .game-card-container {
        width: 100%;
    }

    .game-card-img {
        display: none;
    }

    .game-card-text {
        width: 100%;
        padding: 0 8px;
    }
}