@import url('Base.css');

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  height: 100vh;
  position: relative;
  z-index: 10;
  transition: .3s;
}

.sidebar-bg {
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: var(--dark);
  right: 0px;
  box-shadow: 0 0 20px black;
}

.sidebar-container {
  /* Dark background */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo-container {
  display: flex;
  align-self: flex-start;
  justify-items: center;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  justify-self: center;
}

.logo {
  display: flex;
  width: 80%;
  height: 80%;
  align-self: center;
  margin-top: 24px;
  position: relative;
}

.logo-text {
  font-family: 'Be Vietnam', sans-serif;
  font-size: .8rem;
  color: var(--accent-variation);
  text-align: center;
}

.sidebar-icon {
  display: block;
  font-size: 3rem;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--alt2);
  transition: .2s;
}

.sidebar-icon:hover {
  color: var(--accent-variation);
}

@media only screen and (max-width: 768px) {
  .sidebar {
    flex-direction: row;
    grid-row: 1;
    width: 100vw;
    height: 100%;
  }

  .logo {
    margin: 0;
  }

  .logo-container {
    width: auto;
    margin: 0 32px;
  }

  .sidebar-container {
    flex-direction: row;
  }

  .sidebar-icon {
    margin-left: 16px;
    margin-right: 16px;
  }

}